<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <title>Main Page</title>
  <link rel="preload" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" as="style" onload="this.onload=null;this.rel='stylesheet'">
   <meta charset="UTF-8">
         <meta name="description" content="Node js Results Website">
  <style type="text/css">
    .myForm {
      border-style: solid;
      border-width: 2px;
      width: 50%;
    }
    .myForm input {
      margin: 5px;
    }
  </style>
</head>
<body>
  <center>
    <h2>Results Page</h2>
    <br>
    <br>
    <form class="myForm" method="POST" action="/form" autocomplete="off">
      <label for="htno">Hall Ticket No.</label>
      <input type="text" name="htno" id="htno" value="BMDZ8ZRS3I"><br> 
      <label for="dob">DOB</label>
      <input type="hidden" name="captchaTrue" value="<%- captchaTrue %>">
      <input type="hidden" name="_csrf" value="<%- csrf %>" />
       <input type="date" name="dob" id="dob"><br> 
       <% if (data) { %>
          <%- data %>
      <% } %> 
      <br>
      
      <br>
      <% if (errorStatus) { %>
          <h3 style="color: red">Wrong Captcha!</h3>
      <% } %>

      <% if (htError) { %>
          <h3 style="color: red">Please enter valid Hall Ticket!!!</h3>
      <% } %>
      <label for="captcha">Enter Captcha</label>
      <input type="text" name="captcha" id="captcha" required><br>
      <input type="submit" name="submit">
    </form>
    <br>
  </center>
</body>
</html>