<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
	<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
		<h1>Posted to Results Page</h1>

	<p><%-reply %></p>
</body>
</html>
