<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
	<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
		<h1>Posted to Results Page</h1>
		<table>
			<tr>
			<th>ID</th>
			<th>One</th>
			<th>Two</th>
			<th>Three</th>
			<th>Four</th>
			<th>Five</th>
			<th>Six</th>
		</tr>
        <tr>
         <% for (var keys in itr) { %>
		<td><%-itr[keys] %></td>
	<% } %>
        </tr>
		</table>
</body>
</html>
